# Main Kconfig file for Tiresias Firmware

menu "Tiresias"

menu "Base"

choice AUDIO_CODEC
	prompt "Choose which audio codec is connected to the board"
	default AUDIO_CODEC_ADAU1787

config NO_AUDIO_CODEC
	bool "No audio codec connected"
  help
     No audio codec enabled.

config AUDIO_CODEC_ADAU1787
	bool "ADAU1787"
  help
     ADAU1787 audio codec enabled.

endchoice

endmenu # Base

rsource "src/audio/Kconfig"

endmenu # Tiresias

# Include Zephyr's Kconfig
source "Kconfig.zephyr"