# Main Kconfig file for Tiresias Firmware

menu "Tiresias"

menu "Base"

config PRINT_BANNER
	bool "Print Tiresias banner on the console"
	default y
	help
	  Prints the full Tiresias ASCII banner on the console (takes more lines).

choice AUDIO_CODEC
	prompt "Choose which audio codec is connected to the board"
	default AUDIO_CODEC_ADAU1787

config NO_AUDIO_CODEC
	bool "No audio codec connected"
  help
     No audio codec enabled.

config AUDIO_CODEC_ADAU1787
	bool "ADAU1787"
  help
     ADAU1787 audio codec enabled.

endchoice

config CUSTOM_BROADCASTER
	bool "Allow custom broadcasters"
	default n
	help
	  Incomplete feature for now, but will introduce support for multiple BIGs and subgroups.

config AUDIO_DEV
	int "Select which device type to compile for. 1=HEADSET or 2=GATEWAY"
	range 1 2
	default 1
	help
	  Setting this variable to 1 selects that the project is compiled
	  as a HEADSET device.
	  Setting to 2 will compile as a GATEWAY.

choice NRF5340_AUDIO_TRANSPORT_MODE
	prompt "Choose BIS or CIS for ISO transport"
	default TRANSPORT_BIS

config TRANSPORT_BIS
	bool "Use BIS (Broadcast Isochronous Stream)"

config TRANSPORT_CIS
	bool "Use CIS (Connected Isochronous Stream)"

endchoice

endmenu # Base

rsource "src/audio/Kconfig"
rsource "src/bluetooth/Kconfig"

endmenu # Tiresias

# Include Zephyr's Kconfig
source "Kconfig.zephyr"