// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

&i2c1 {
  clock-frequency = <I2C_BITRATE_FAST_PLUS>; // 1000 kbps

  adau_1701: adau_1701@68 {
    compatible = "adi,adau1701", "i2c-device";
    status = "okay";
    reg = <0x68>;
    // reset-gpio = <&gpio 23 0>;
    // avdd-supply = <&vdd_3v3_reg>;
    // dvdd-supply = <&vdd_3v3_reg>;
    // adi,pll-mode-gpios = <&gpio 24 0 &gpio 25 0>;
    // adi,pin-config = <0x4 0x7 0x5 0x5 0x4 0x4 0x4 0x4 0x4 0x4 0x4 0x4>;
  };
  adau_1787: adau_1787@28 {
    compatible = "adi,adau1787", "i2c-device";
    status = "okay";
    reg = <0x28>;
    label = "adau1787"
  };
};
